*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: sans-serif;
}
nav{
  background-color: white;
}
body{
background-color: #efecf4;
}

.ForsideBillede {
           position: relative;
}

img {
  position: absolute;
  top: -19px;
  right: 16px;
}

.first {
  position: absolute;
}

.second{
  font-weight: bold;
  position: absolute;
  display: inline-block;
  border-bottom: 2px solid black;
}

input[type=text], select {
  width: 10%;
  padding: 12px 20px;
  margin: 100px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}