*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: sans-serif;
}
nav{
  background-color: white;
}
body{
background-color: #efecf4;
}

img {
  position: absolute;
  top: 19px;
  right: 16px;
}
