*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: sans-serif;
}
nav{
  background-color: white;
}
body{
background-color: #efecf4;
}

.ForsideBillede {
           position: relative;
}

img {
  position: absolute;
  top: -19px;
  right: 16px;
}

.first {
  position: absolute;
}

.second{
  font-weight: bold;
  position: absolute;
  bottom: -150px;
  display: inline;
  border-bottom: 2px solid black;
}

